@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCD6F7;
    animation: fadeIn 1.5s ease-in-out forwards;
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vh;   
    max-width: 95%;     
    padding: 5px;
    border: 2px solid;
    border-radius: 100px;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    background-color: #F4EEFF;
    width: 150px;
    height: 40px;
    font-size: 2vh;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.btn:hover {
    background: black;
    color: white;    
}

#forgotpass {
    border-radius: 20px;
    width: 400px;
    max-width: 90%;  
    height: 30px;
}

input::placeholder {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
}

.cancel-btn,
#cbutton {
    font-weight: bold;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

#cbutton {
    background: linear-gradient(135deg,  rgb(217, 255, 217) 50%, rgb(255, 255, 255) 50%);
}
#cbutton:hover {
    background: black;
    color: white;
}

.cancel-btn {
    color: white;
}
.cancel-btn:hover {
    color: black;
}
