body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefadc;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    min-height: 100vh;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f3b391;
    border: 1px solid;
    border-radius: 20px;
}

form {
    width: 100%;
}

h1, h2 {
    text-align: center;
    color: #000;
}

hr {
    border: 1px solid #aaa;
}

.form-group {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

.form-input {
    width: 95%;
    padding: 16px 12px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 10px;
    outline: none;
    background: #f6d4ba;
}

.form-input::placeholder {
    color: transparent;
}

label {
    position: absolute;
    top: 16px;
    left: 14px;
    color: #aaa;
    font-size: 18px;
    background-color: #f6d4ba;
    padding: 0 4px;
    pointer-events: none;
    transition: 0.2s ease all;
}

/* Floating effect */
.form-input:focus + label,
.form-input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 14px;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: black;
    color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.links a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.links a:hover {
    color: black;
}

.labs {
    background-color: transparent;
    color: black;
}
